<div
  class="ui middle aligned center aligned grid"
  [ngStyle]="{ 'margin-top': '10%', 'margin-bottom': 'justify' }"
>
  <div [ngStyle]="{ 'max-width': '450px' }">
    <h2 class="ui teal header">Entra a tu cuenta</h2>
    <form
      [formGroup]="formLogin"
      (ngSubmit)="onSubmit()"
      class="ui middle form"
    >
      <div class="ui stacked segment">
        <div class="field">
          <label class="form-label">Correo electrónico</label>
          <input type="text" formControlName="email" />
        </div>
        <div class="field">
          <label class="form-label">Contraseña</label>
          <input type="password" formControlName="password" />
        </div>
        <input
          class="ui fluid large teal submit button"
          type="submit"
          value="Entrar"
        />
      </div>
    </form>

    <div class="ui message">
      <button
        class="ui fluid large submit blue button"
        (click)="onGoogleLogin()"
      >
        Entra con tu cuenta de Google
      </button>
    </div>
    <div class="ui message">
      ¿Todavía no tienes una cuenta?
      <a class="ui fluid large submit blue button" routerLink="/registro">
        Crea tu cuenta
      </a>
    </div>
  </div>
</div>
