<div
  class="ui middle aligned center aligned grid"
  [ngStyle]="{ 'margin-top': '10%', 'margin-bottom': 'justify' }"
>
  <div [ngStyle]="{ 'max-width': '450px' }">
    <h2 class="ui teal header">Crea una cuenta de usuario</h2>
    <form [formGroup]="formReg" (ngSubmit)="onSubmit()" class="ui middle form">
      <div class="ui stacked segment">
        <div class="field">
          <label class="form-label">Correo electrónico</label>
          <input type="text" formControlName="email" />
        </div>
        <div class="field">
          <label class="form-label">Contraseña</label>
          <input type="password" formControlName="password" />
        </div>
        <input
          class="ui fluid large teal submit button"
          type="submit"
          value="Crear"
        />
      </div>
    </form>

    <div class="ui message">
      <button
        class="ui fluid large submit blue button"
        (click)="onGoogleLogin()"
      >
        Crear cuenta con Google
      </button>
    </div>
    <div class="ui message">
      ¿Ya tienes una cuenta?
      <a class="ui fluid large submit blue button" routerLink="/entrada">
        Entra a tu cuenta
      </a>
    </div>
  </div>
</div>
