<div
  *ngIf="perfil"
  class="ui middle aligned stackable grid container"
  [ngStyle]="{ 'margin-top': '60px', 'margin-bottom': '60px' }"
>
  <!-- Información del autor -->
  <div class="row">
    <div class="six wide column">
      <div class="ui centered small image">
        <img *ngIf="perfil.imagen !== ''" src="{{ perfil.imagen }}" />
        <img
          *ngIf="perfil.imagen === ''"
          src="https://www.pinclipart.com/picdir/middle/8-82428_profile-clipart-generic-user-gender-neutral-head-icon.png"
        />
      </div>
    </div>
    <div class="ten wide column">
      <h3 class="ui header">
        <i [ngStyle]="{ color: 'gray' }" class="newspaper outline icon"></i>
        Acerca de @{{ perfil.nombre | lowercase }}
      </h3>
      <div class="ui segment">
        {{ perfil.acerca }}
      </div>
    </div>
  </div>

  <div class="ui divider"></div>

  <!-- Acciones de recetas -->
  <div class="row">
    <div class="eight wide column">
      <h3 class="ui header">Administrar recetas</h3>
    </div>
    <div class="eight wide column">
      <a class="ui fluid large blue button" routerLink="/nueva-receta">
        Publicar una nueva receta
      </a>
    </div>
  </div>

  <div class="ui divider"></div>

  <!-- Panel de recetas -->
  <table class="ui celled table" *ngIf="recetas && recetas.length > 0">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Introducción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let receta of recetas">
        <td data-label="Nombre">{{ receta.nombre }}</td>
        <td data-label="Introducción">{{ receta.introduccion }}</td>
        <td data-label="Acciones">
          <div class="ui buttons">
            <div class="eight wide">
              <button class="ui fluid green button" (click)="onUpdate(receta)">
                Editar
              </button>
            </div>
            <div class="or"></div>
            <div class="eight wide">
              <button class="ui fluid red button" (click)="onDelete(receta)">
                Borrar
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Aviso de cero recetas -->
  <div class="ui segment content" *ngIf="!recetas">
    <p>Todavía no has publicado recetas</p>
  </div>
</div>

<!-- Forma de creación de perfil -->
<div
  *ngIf="!perfil"
  class="ui main text container"
  [ngStyle]="{
    'margin-top': '60px',
    'margin-bottom': '60px',
    'max-width': '450px'
  }"
>
  <h2 class="ui teal header">Crea tu perfil de usuario</h2>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="ui middle form">
    <div class="ui stacked segment">
      <div class="field">
        <label class="form-label">Nombre de usuario</label>
        <input type="text" formControlName="nombre" />
      </div>
      <div class="field">
        <label class="form-label">Avatar</label>
        <input
          type="text"
          formControlName="imagen"
          placeholder="URL de una imagen"
        />
      </div>
      <div class="field">
        <label class="form-label">Sobre ti</label>
        <textarea
          type="text"
          formControlName="acerca"
          placeholder="Dinos un poco sobre tu persona"
        ></textarea>
      </div>
      <input
        class="ui fluid large teal submit button"
        type="submit"
        value="Crear"
      />
    </div>
  </form>
</div>
