<div
  class="ui main text container"
  [ngStyle]="{ 'margin-top': '60px', 'margin-bottom': '60px' }"
  *ngIf="articulo && usuario && articulo.autor !== usuario.uid"
>
  <h1 class="ui icon header">
    <i class="ban red icon"></i>
    <div class="content">
      Acceso restringido: Solamente el autor puede editar sus receta
    </div>
  </h1>
  <!-- {{ usuario.uid }}
  {{ articulo.autor }} -->
</div>

<div
  class="ui main text container"
  [ngStyle]="{ 'margin-top': '60px', 'margin-bottom': '60px' }"
  *ngIf="!showPreview && articulo.autor === usuario.uid"
>
  <h2 class="ui header">Edita tu receta</h2>
  <!-- <p>articulo is: {{ articulo | json }}</p>
  <div class="ui divider"></div>
  <p>formulario is: {{ formulario.value | json }}</p>
  <div class="ui divider"></div>
  {{ usuario.uid }}
  {{ articulo.autor }}
  <div class="ui divider"></div> -->

  <form [formGroup]="formulario" class="ui middle form">
    <div class="ui stacked segment">
      <!-- Nombre de la receta -->
      <div class="field">
        <label class="form-label">Nombre</label>
        <input
          type="text"
          placeholder="Nombre de la receta"
          formControlName="nombre"
          required
        />
      </div>

      <!-- Imagen -->
      <div class="field">
        <label class="form-label">URL de la imagen</label>
        <input
          type="text"
          placeholder="URL de una imagen"
          formControlName="imagen"
          required
        />
      </div>

      <!-- Introducción -->
      <div class="field">
        <label class="form-label">Introducción</label>
        <textarea
          type="text"
          placeholder="Descripción de tu receta"
          formControlName="introduccion"
          required
        ></textarea>
      </div>

      <!-- Ingredientes -->
      <div formArrayName="ingredientes">
        <label class="form-label">Ingredientes</label>
        <div *ngFor="let ingrediente of ingredientes.controls; let i = index">
          <div class="fields">
            <div class="eleven wide field">
              <input
                type="text"
                placeholder="Nuevo ingrediente"
                [formControlName]="i"
                required
              />
            </div>
            <div class="five wide field">
              <button
                class="ui red button form-control"
                (click)="delete_ingrediente(i)"
              >
                Borra este ingrediente
              </button>
            </div>
          </div>
        </div>
      </div>

      <button class="ui medium blue button" (click)="add_ingrediente()">
        Agregar un ingrediente
      </button>

      <!-- Preparación -->
      <div formArrayName="preparacion">
        <label class="form-label">Preparación</label>
        <div *ngFor="let preparacion of preparacion.controls; let i = index">
          <div class="fields">
            <div class="eleven wide field">
              <textarea
                type="text"
                placeholder="Nuevo paso"
                [formControlName]="i"
                required
              ></textarea>
            </div>
            <div class="five wide field">
              <button class="ui red button" (click)="delete_preparacion(i)">
                Borra este paso
              </button>
            </div>
          </div>
        </div>
      </div>

      <button class="ui medium blue button" (click)="add_preparacion()">
        Agrega un paso
      </button>

      <!-- Consejos -->
      <div formArrayName="consejos">
        <label class="form-label">Consejos</label>
        <div *ngFor="let consejo of consejos.controls; let i = index">
          <div class="fields">
            <div class="eleven wide field">
              <input
                type="text"
                placeholder="Nuevo consejo"
                [formControlName]="i"
                required
              />
            </div>
            <div class="five wide field">
              <button class="ui red button" (click)="delete_consejo(i)">
                Borra este consejo
              </button>
            </div>
          </div>
        </div>
      </div>

      <button class="ui medium blue button" (click)="add_consejo()">
        Agrega un consejo
      </button>

      <!-- Fuente -->
      <div class="field">
        <label class="form-label">URL de la fuente</label>
        <input
          type="text"
          placeholder="URL de la fuente, puede ser la de la imagen"
          formControlName="fuente"
          required
        />
      </div>

      <!-- Submit button -->
      <button
        class="ui fluid large primary button"
        (click)="showPreview = !showPreview"
      >
        Pre visualizar
      </button>
    </div>
  </form>
</div>

<!-- Preview, confirm & publish -->
<div
  class="ui main text container"
  [ngStyle]="{ 'margin-top': '60px', 'margin-bottom': '60px' }"
  *ngIf="showPreview && articulo.autor === usuario.uid"
>
  <h2 class="ui header">{{ formulario.value.nombre | titlecase }}</h2>
  <div class="ui centered medium image">
    <img src="{{ formulario.value.imagen }}" />
  </div>

  <div class="ui divider"></div>

  <h3 class="ui header">
    <i [ngStyle]="{ color: 'gray' }" class="newspaper outline icon"></i>
    Introducción
  </h3>
  <div class="ui segment content">
    {{ formulario.value.introduccion }}
  </div>

  <h3 class="ui header">
    <i [ngStyle]="{ color: 'gray' }" class="edit outline icon"></i>
    Ingredientes
  </h3>
  <div class="ui segment bulleted list">
    <div *ngFor="let i of formulario.value.ingredientes" class="item">
      {{ i }}
    </div>
  </div>

  <h3 class="ui header">
    <i [ngStyle]="{ color: 'gray' }" class="utensils icon"></i>
    Preparación
  </h3>
  <div class="ui segment bulleted list">
    <div *ngFor="let i of formulario.value.preparacion" class="item">
      {{ i }}
    </div>
  </div>

  <h3 *ngIf="formulario.value.consejos" class="ui header">
    <i [ngStyle]="{ color: 'gray' }" class="utensil spoon icon"></i>
    Consejos
  </h3>
  <div *ngIf="formulario.value.consejos" class="ui segment bulleted list">
    <div *ngFor="let i of formulario.value.consejos" class="item">
      {{ i }}
    </div>
  </div>

  <h3 class="ui header">
    <i [ngStyle]="{ color: 'gray' }" class="globe icon"></i>
    Referencias
  </h3>
  <div class="content segment">
    <a href="{{ formulario.value.fuente }}">Inspirado en este artículo</a>
  </div>

  <div class="ui divider"></div>

  <!-- Botones -->
  <div class="ui buttons">
    <div class="eight wide">
      <button
        class="ui fluid large red button"
        (click)="showPreview = !showPreview"
      >
        Editar
      </button>
    </div>
    <div class="or"></div>
    <div class="eight wide">
      <button class="ui fluid large blue button" (click)="onSubmit()">
        Publicar
      </button>
    </div>
  </div>
</div>
