<div class="ui middle aligned center aligned grid">
  <div class="ui column">
    <!-- Encabezado -->
    <app-navbar [title]="title"></app-navbar>
    <!-- Aquí va el blog de recetas -->
    <router-outlet></router-outlet>
    <!-- Pie de página -->
    <app-pie></app-pie>
  </div>
</div>
