<div
  class="ui teal inverted vertical footer segment"
  [ngStyle]="{ position: 'fixed', bottom: '0px', width: '100%' }"
>
  <div class="ui center aligned container">
    <a routerLink="/acerca" class="ui link" [ngStyle]="{ color: 'white' }"
      >Acerca de nosotros</a
    >
  </div>
</div>
