<div
  class="ui centered link cards"
  *ngIf="recetas.length > 0"
  [ngStyle]="{ 'margin-top': '60px', 'margin-bottom': '60px' }"
>
  <div *ngFor="let i of recetas" class="card">
    <a routerLink="/articulo/{{ i.id }}">
      <div class="ui image">
        <img src="{{ i.imagen }}" />
      </div>
      <div class="content">
        <h2 class="ui header">{{ i.nombre | titlecase }}</h2>
        <div class="description" *ngIf="i.introduccion.length > 400">
          {{ i.introduccion | slice : 0 : 400 }}...
        </div>
        <div class="description" *ngIf="i.introduccion.length <= 400">
          {{ i.introduccion }}
        </div>
      </div>
    </a>
  </div>
</div>

<div class="ui main text container" *ngIf="recetas.length === 0">
  <div class="ui active inverted dimmer">
    <div
      class="ui massive text loader"
      [ngStyle]="{ 'margin-top': '200px', 'margin-bottom': '60px' }"
    >
      Loading recetas... please be patient
    </div>
  </div>
</div>
